{% extends 'base.html' %}

{% block content %}
<section class="container" id="hero">
  <div class="row">
    <div class="column">
      <h1>
        AWESOME TEXT HERE
      </h1>
    </div>
    <div class="column column-50">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        <a class="button" href="#">Goto action</a>
      </p>
    </div>
  </div>
</section>

<section class="container" id="farmers">
  <div class="row">
    <div class="column">
      <strong>
        ONE
      </strong>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="column">
      <strong>
        TWO
      </strong>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="column">
      <strong>
        THREE
      </strong>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="column">
      <strong>
        FOUR
      </strong>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</section>
{% endblock %}
