{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="hero-wrapper">
  <section class="container hero" id="hero">
    <h1 class="hero-title">
      Compra frutas y verduras orgánicas
    </h1>
    <p class="hero-subtitle">
      Y retiralas en un <a href="#">punto central</a>
    </p>
    <p>
      <a class="button hero-button" href="#">Ver productos</a>
    </p>
  </section>
</div>

<section class="container" id="cooperatives">
  <div class="row">
    <div class="column cooperative">
      <strong class="cooperative-name">
        Agrícola Jhon Doe
      </strong>
      <p class="no-margin-bottom justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <span class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </span>
      <a href="#" class="pull-right">
        view more
      </a>
    </div>
    <div class="column cooperative">
      <strong class="cooperative-name">
        Juanito Perez y asociados
      </strong>
      <p class="no-margin-bottom justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <span class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </span>
      <a href="#" class="pull-right">
        view more
      </a>
    </div>
    <div class="column cooperative">
      <strong class="cooperative-name">
        Sociedad Agro
      </strong>
      <p class="no-margin-bottom justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <span class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </span>
      <a href="#" class="pull-right">
        view more
      </a>
    </div>
    <div class="column cooperative">
      <strong class="cooperative-name">
        Cooperativa verde
      </strong>
      <p class="no-margin-bottom justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <span class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </span>
      <a href="#" class="pull-right">
        view more
      </a>
    </div>
  </div>
</section>

<section class="container" id="last-products">
  <div class="row spaced">
    <div class="column column-50 column-offset-25">
      <h4 class="center">
        Noticias
      </h4>
      <div class="timeline">
        <div class="timeline-item">

          <div class="timeline-header">
            Nuevo punto central en providencia
          </div>
          <div class="timeline-content">
            <p class="no-margin-bottom">
              Un nuevo punto estará disponible a partir del 9 de Enero de 2017 entre las avenidas andres bello y providencia.
            </p>
            <a href="#" class="button">
              Saber más
            </a>
          </div>
          <div class="timeline-footer">
            Ayer a las 03:00 PM
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
