$hero-color: #e32072;
$title-font: 'Fira Sans', sans-serif;
$main-font: 'Cantarell', sans-serif;
$navigation-font: $title-font;

body{
  font-family: $main-font;
}

.full-width{
  width: 100%;
  height: auto;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.justify{
  text-align: justify;
}

.center{
  text-align: center;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.spaced{
  padding: 12rem 2.0rem;
}

.hero-wrapper{
  background: $hero-color;
  color: white;
}

.hero{
  @extend .spaced;
  margin-bottom: 4rem;
  text-align: center;

  .hero-title{
  }

  .hero-subtitle{
    a{
      color: darken(white, 5%);
      text-decoration: underline;
      &:hover{
        color: darken(white, 20%);;
      }
    }
  }

  .hero-button{
    background: darken($hero-color, 30%);
    border: darken($hero-color, 30%);
    &:hover{
      background: darken($hero-color, 20%);
    }
  }

}

.cooperative{
  color: darken($hero-color, 30%);

  .cooperative-name{
      text-transform: uppercase;
  }
  .rating{
    color: #F8CA00;
    width: 100%;
    clear: both;
    float: right;
    text-align: right;
  }
}

nav.navigation{
  padding: 1.2rem 0;
  background: #f3f3f3;
  font-family: $navigation-font;

  .navigation-list{
    float: right;
    list-style: none;

    .navigation-item{
      float: left;
      margin-left: 2rem;
      text-transform: uppercase;
      letter-spacing: -.2px;

      &:hover{
      }
    }

  }

}

.timeline{
  .timeline-item{
    border: .2rem solid $hero-color;

    div{
      padding: 0.2rem 1rem;
      &.timeline-header{
        background: $hero-color;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &.timeline-footer{
        background: $hero-color;
        color: white;
        text-align: right;
      }
    }



  }
}
